<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gracias</title>
  </head>
  <body>
    <h3>{{nombre}}, Muchas gracias por tu registro en TEE-SHOT </h3>

    <h2>Has creado un usuario en nuestra plataforma.</h2>
    <br>
    <section class="wrapper">
        <section class="manin">
          <article>
            <h3>¿Qué es TEE-SHOT?</h3>
            <p>TEE-SHOT es el sitio donde los juadores y amantes del GOLF podrán encontrar todas las soluciones
              a sus necesidades, de tal manera que en un solo sitio, todas sus expectativas se puedan resolver 
              mediante la web en un solo sitio.
            </p>
          </article>
          <br>

          <article>
            <h3>¿Qué puedo hacer en TEE-SHOT?</h3>
            <p>Quieres jugar Golf pero no sabes cómo empezar, dónde tomar clases?...</p>
            <p>Quieres jugar Golf pero no sabes en cual club ó o campo hay disponiblidad...</p>
            <p>Será que puedo llevar mi score y el de mis amigos en un solo sitio que me calcule los resultados de cada juego de manera personalizada?</p>
            <p>Será que alguien tiene algún equipo que quiera vender?</p>
            <p>Pero si yo traigo elementos de golf para vender, será que encuentro un sitio webe donde estén todos los jugadores para ofrecer mis pordutos?</p>
            <p>Será que a algún jugador le interesa un Driver que quiero vender?</p>
            <p>Será que hay una solución a mis necesidades de Golf en un solo sitio web?</p>

          </article>
          <br>
        </section>
        <aside>
          <h3>ENTONCES PARA QUÉ PUEDO USAR TEE-SHOT?</h3>
          <p>
            Las anteriores opciones son algunas de las soluciones que puedes encontrar en TEE-SHOT.
          </p>
          <p>
            Pero habrá más...
          </p>
          <p>
            TEE-SHOT llega para colmar todas tus expectativas así que no hay límite...
          </p>
        </aside>
      </section>

    <br><br><br>
    <p>¡Este correo es automático, por favor no responderlo porque no hay un persona asignada pra su lectura!</p>
  </body>
</html>
