<!-- para que el club defina parametros agenda tenis , nominación de canchas y profesores-->
{% extends "layout_autenticado.html" %}
{% block content%}
<head>
<!--    <meta charset="UTF-8">
  <title>Formularios con CSS</title>-->
  <link rel="stylesheet" href="{{url_for('static',filename='CSS/ppal.css')}}"/>
</head>
<body>
  <h2>Club:  {{club}} - PROGRAMACIÓN TENIS</h2>
  <p>{{session["name"]}}, para visualizar y acceder a la agenda de un día por favor seleccionar la fecha:</p>

    <form action="{{url_for('clubveragendatenis')}}" method="post">
      <label for="">Seleccione Fecha:</label>
      <input type="date" name="fecha" required/><br/>
      <br><br>
      <input id="submit" name="submit" type="submit" value="Enviar">
    </form>

    <ul class="">
      <li><a href="{{url_for('inicioadclub')}}" >Regresar</a></li>
      <li><a href="{{url_for('logout')}}">Cerrar Sesión</a></li>
    </ul>
     <br><br><br>



</body>
{% endblock %}
