{% extends "layout_juego_golf.html" %}
{% block content%}
<head>
<!--    <meta charset="UTF-8">
  <title>Formularios con CSS</title>-->
  <link rel="stylesheet" href="{{url_for('static',filename='CSS/ppal_juego.css')}}"/>
</head>
<header>
  <div class="crear_juego" id="fixed-tit">
    <li>  <img src="{{url_for('static',filename='IMAGENES/logo_ts.ico')}}" width="70" alt="Logotipo"></li>
    <li class="titulo_juego"><h2 >CREAR JUEGOS</h2>  </li>
  </div>
</header>
<br><br><br><br>
  <div class="form_crear_juego">
    <form class="" action="{{url_for('gruposjuego')}}" method="post">
      <input type="hidden" name="grupo" value=1>
      <input type="hidden" name="linea" value="nada">
      <input type="hidden" name="configurar" value="no">
      <input type="hidden" name="jugar" value="no">

      <label>Campo</label>
      <select name="campo">
        <option selected>{{session["course"]}}</option>
        {% for i in range(largo) %}
        <option>{{campos[i]}}</option>
        {% endfor %}
      </select>
      <label>Modo DE Juego</label>
      <select name="modalidad">
        <option value="Stroke Play" selected>Stroke Play</option>
        <!-- <option value="Match Play">Match Play</option> -->
        <option value="Stableford">Stableford</option>
        <!-- <option value="Fourball">Fourball</option>
        <option value="Foursome">Foursome</option>
        <option value="Scramble">Scramble</option>
        <option value="Canadian Foursome">Canadian Foursome</option> -->
      </select>
      <!-- <label >MARCAS</label>
      <select name="marcas">
        <option value="Negras">Negras</option>
        <option value="Azules">Azules</option>
        <option value="Blancas" selected>Blancas</option>
        <option value="Doradas">Doradas</option>
        <option value="Rojas">Rojas</option>
      </select> -->
      <label>Fecha</label>
        <input type="date" name="fecha" min={{fecha1}} max={{fecha2}} required/><br/>
      <label>Total GRUPOS</label>
      <input type="number" min="1" max="160"  name="tgrupos" value="1" required >

      <input id="submit" name="submit" type="submit" value="ACEPTAR">
    </form>
  </div>
<br><br><br><br>

<div class="enlaces" id="fixed-bar">
    <!-- <li ><a href="{{url_for('logout')}}"><span class="icon-home"></span></a></li>
    <li ><a href="{{url_for('logout')}}"><span class="icon-list"></span></a></li>
    <li ><a href="{{url_for('logout')}}" ><span class="icon-sports_golf"></span></a></li>
    <li ><a href="{{url_for('logout')}}"><span class="icon-list-alt"></span></a></li>
    <li class="presente"><a href="{{url_for('logout')}}"><span class="icon-cogs"></span></a></li> -->
    <li><form  action="{{url_for('casa')}}" method="post">
      <button type="submit" name="configurar" value="si" onclick=""><span class="icon-home"></button>
    </form></li>
    <li class="suave"><form  action="{{url_for('gruposjuegocambios')}}" method="post">
      <div class="nulo"></div>
      <!-- <button type="submit" name="configurar" value="si" onclick=""><span class="icon-list"></button> -->
    </form></li>
    <li class="suave"><form  action="{{url_for('gruposjuegocambios')}}" method="post">
      <div class="nulo"></div>
      <!-- <button type="submit" name="configurar" value="si" onclick=""><span class="icon-sports_golf"></button> -->
    </form></li>
    <li class="suave"><form  action="{{url_for('gruposjuegocambios')}}" method="post">
      <div class="nulo"></div>
      <!-- <button type="submit" name="configurar" value="si" onclick=""><span class="icon-list-alt"></button> -->
    </form></li>
    <li class="presente"><form  action="#" method="post">
      <button type="submit" name="configurar" value="si" onclick=""><span class="icon-cogs"></button>
    </form></li>
</div>



{% endblock %}
