{% extends "layout_juego_golf.html" %}
{% block content%}
<head>
<!--    <meta charset="UTF-8">
  <title>Formularios con CSS</title>-->
  <link rel="stylesheet" href="{{url_for('static',filename='CSS/ppal_juego.css')}}"/>
</head>
<header>
  <div class="crear_juego" id="fixed-tit">
    <li>  <img src="{{url_for('static',filename='IMAGENES/logo_ts.ico')}}" width="70" alt="Logotipo"></li>
    <li class="titulo_juego"><h2 >TARJETA</h2>  </li>
  </div>
</header>
<br><br><br><br>
<!-- <h2 class="tit_cambios">{{campo}}</h2> -->

<!-- {% for tarjeta in tarjetas %}
<p>{{tarjeta}}</p>
{% endfor %} -->
<!-- <p>{{datcampo}}</p> -->
<div class="cont_tarjeta">
  <h5>{{campo}}</h5>
  <table>
    <tr class="fi1">
      <td class="co1"><h4>Hoyo</h4></td>
      {% for i in range (1,10)%}
      <td class="co2">{{(i)}}</td>
      {% endfor %}
      <td class="co3">Ida</td>
      {% for i in range (10,19)%}
      <td class="co2">{{(i)}}</td>
      {% endfor %}
      <td class="co3">Vuelta</td>
      <td class="co4">Total</td>
    </tr>
    <tr class="fi1">
      <td class="co1"><h4>Par</h4></td>
      {% for i in range (4,13)%}
      <td>{{datcampo[i]}}</td>
      {% endfor %}
      <td>{{datcampo[4]+datcampo[5]+datcampo[6]+datcampo[7]+datcampo[8]+datcampo[9]+datcampo[10]+datcampo[11]+datcampo[12]}}</td>
      {% for i in range (13,22)%}
      <td>{{datcampo[i]}}</td>
      {% endfor %}
      <td>{{datcampo[13]+datcampo[14]+datcampo[15]+datcampo[16]+datcampo[17]+datcampo[18]+datcampo[19]+datcampo[20]+datcampo[21]}}</td>
      <td>{{datcampo[4]+datcampo[5]+datcampo[6]+datcampo[7]+datcampo[8]+datcampo[9]+datcampo[10]+datcampo[11]+datcampo[12]+datcampo[13]+datcampo[14]+datcampo[15]+datcampo[16]+datcampo[17]+datcampo[18]+datcampo[19]+datcampo[20]+datcampo[21]}}</td>
    </tr>
    <tr class="fi1">
      <td class="co1"><h4>Ventaja</h4></td>
      {% for i in range (40,49)%}
      <td>{{datcampo[i]}}</td>
      {% endfor %}
      <td></td>
      {% for i in range (49,58)%}
      <td>{{datcampo[i]}}</td>
      {% endfor %}
      <td></td>
      <td></td>
    </tr>
    {% for tarjeta in tarjetas %}
    <tr class="fi2">
      <td class="nonmbre"><p>{{tarjeta[52]}}</p></td>
      {% for i in range(5,14)%}
      {% if tarjeta[i]!=0 %}
      <td>{{tarjeta[i]}}<sup>{{tarjeta[(i+23)]}}</sup></td>
      {% else %}
      <td></td>
      {% endif %}
      {% endfor %}
      <td>{{tarjeta[23]}}<sup>{{tarjeta[46]}}</sup></td>
      {% for j in range(14,23)%}
      {% if tarjeta[j]!=0 %}
      <td>{{tarjeta[j]}}<sup>{{tarjeta[(j+23)]}}</sup></td>
      {% else %}
      <td></td>
      {% endif %}
      {% endfor %}
      <td>{{tarjeta[24]}}<sup>{{tarjeta[47]}}</sup></td>
      <td>{{tarjeta[25]}}<sup>{{tarjeta[48]}}</sup></td>
    </tr>
    {%endfor%}


  </table>
</div>


<br><br><br><br>

<div class="enlaces" id="fixed-bar">
    <!-- <li ><a href="{{url_for('logout')}}"><span class="icon-home"></span></a></li>
    <li ><a href="{{url_for('logout')}}"><span class="icon-list"></span></a></li>
    <li ><a href="{{url_for('logout')}}" ><span class="icon-sports_golf"></span></a></li>
    <li ><a href="{{url_for('logout')}}"><span class="icon-list-alt"></span></a></li>
    <li class="presente"><a href="{{url_for('logout')}}"><span class="icon-cogs"></span></a></li> -->
    <li><form  action="{{url_for('casa')}}" method="post">
      <button type="submit" name="configurar" value="si" onclick=""><span class="icon-home"></button>
    </form></li>
    <li><form  action="{{url_for('calculostrokeplay')}}" method="post">
      <button type="submit" name="configurar" value="si" onclick=""><span class="icon-list"></button>
    </form></li>
    <li ><form  action="{{url_for('gruposjuegocambios')}}" method="post">
      <input type="hidden" name="configurar" value="no">
      <button type="submit" name="jugar" value="si" onclick=""><span class="icon-sports_golf"></button>
    </form></li>
    <li class="presente"><form  action="{{url_for('mostrartarjetasgrupo')}}" method="post">
      <button type="submit" name="configurar" value="si" onclick=""><span class="icon-list-alt"></button>
    </form></li>
    <li><form  action="{{url_for('gruposjuegocambios')}}" method="post">
      <button type="submit" name="configurar" value="si" onclick=""><span class="icon-cogs"></button>
    </form></li>
</div>



{% endblock %}
